process {
    // Capture exit codes from upstream processes when piping
    shell = ['/usr/bin/env bash', '-euo', 'pipefail']

    // default for all tasks
    cpus = { check_max( 1 * task.attempt, 'cpus' ) }
    memory = { check_max( 15.GB * task.attempt, 'memory' ) }
    time = { check_max( 1.h * task.attempt, 'time' ) }
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 3
    maxErrors = '-1'

    //errorStrategy = "retry"
    //maxRetries = 1
    withLabel: annotation {     cpus = 1;  memory = '4.0 GB';  time = '48.h' }
    withLabel: assign {         cpus = 1;  memory = '4.0 GB';  time = '48.h' }
    withLabel: balloon {        cpus = 1;  memory = '2.0 GB';  time = '48.h' }
    withLabel: basics {         cpus = 1;  memory = '4.0 GB';  time = '48.h' }
    withLabel: blast {          cpus = 12; memory = '12.0 GB'; time = '48.h' }
    withLabel: chromomap {      cpus = 1;  memory = '4.0 GB';  time = '48.h' }
    withLabel: fastp {          cpus = 12; memory = '12.0 GB'; time = '48.h' }
    withLabel: fastqc {         cpus = 4;  memory = '8.0 GB';  time = '48.h' } 
    withLabel: hmmscan {        cpus = null; mpiprocs=28; memory = null; time = 48.h; clusterOptions = "-l select=1:ncpus=28:mpiprocs=28:mem=120gb"}
    withLabel: kaiju {          cpus = 12; memory = '40.0 GB'; time = '48.h' }
    withLabel: krona {          cpus = 2;  memory = '4.0 GB';  time = '48.h' }
    withLabel: plot_contig_map {cpus = 1;  memory = '4.0 GB';  time = '48.h' }
    withLabel: pprmeta {        cpus = 8;  memory = '16.0 GB'; time = '48.h' }
    withLabel: multiqc {        cpus = 4;  memory = '8.0 GB';  time = '48.h' }
    withLabel: parse {          cpus = 1;  memory = '4.0 GB';  time = '48.h' }
    withLabel: prodigal {       cpus = 8;  memory = '8.0 GB';  time = '48.h' }
    withLabel: phanotate {      cpus = 1;  memory = '4.0 GB';  time = '48.h' }
    withLabel: python3 {        cpus = 1;  memory = '4.0 GB';  time = '48.h' }
    withLabel: ratio_evalue {   cpus = 1;  memory = '4.0 GB';  time = '48.h' }
    withLabel: ruby {           cpus = 1;  memory = '4.0 GB';  time = '48.h' }
    withLabel: spades {         cpus = 12; memory = '40.0 GB'; time = '48.h' }
    withLabel: sankey {         cpus = 1;  memory = '2.0 GB';  time = '48.h' }
    withLabel: virsorter {      cpus = 12; memory = '12.0 GB'; time = '48.h' }
    withLabel: virfinder {      cpus = 1;  memory = '12.0 GB'; time = '48.h' }
    withLabel: mashmap {        cpus = 4;  memory = '4.0 GB';  time = '48.h' }
}
